<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit User {{ user.id }}</title>
</head>
<body>
    <div class="Wrapper">
        <h1>Edit user {{ user.id }}</h1>
        <form action="update" method="post">
            {% csrf_token %}
            <label for="name">Full Name:</label> <br>
            <input type="text" name="name" id="" placeholder= "{{ user.name }}"> <br> <br>
            <label for="email">Email:</label> <br>
            <input type="text" name="email" id="" placeholder= "{{ user.email }}"> <br> <br>
            <input type="submit" value="Update"> <br> <br>
        </form>
        <a href="users/{{ user.id }}"></a> <a href="/">Go Back</a>
    </div>
</body>
</html>